.tag_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  -webkit-line-clamp: 2;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;

  // align-items: center;
  // text-align: center;
}

fieldset {
  border: 0;
}

.control {
  display: inline-flex;
  position: relative;
  margin: 5px;
  cursor: pointer;
  border-radius: 99em;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  svg {
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
  }
}

.control__content {
  display: inline-flex;
  align-items: center;
  padding: 4px 6px;
  font-size: 20px;
  line-height: 10px;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 99em;

  .control:hover & {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.control input:focus ~ .control__content {
  box-shadow: 0 0 0 0.25rem rgba(86, 8, 160, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

.control input:checked ~ .control__content {
  background-color: rgba(86, 8, 160, 0.2);
}
